html body{
  background-color: black;
}
@media screen and (orientation: portrait){
  .text{
    position: absolute;
    top: 8%; left: 0%;
    font-size: 3.5vw;
    color: white;
    text-align: center;}
  .text2{
    position: absolute;
    top: 58%; left: 40%;
    font-size: 3.5vw;
    color: white;
    text-align: center;}
  .img{
    position: absolute; margin: auto;
    top: 90%; left: 50%;
    -moz-transform: translate(-50%, -90%);
    -webkit-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    width: 40vw;
    overflow: hidden;
    scroll: no;}
}